# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
ij_any_keep_indents_on_empty_lines = false
# quote_type = single

[*.ts]
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = false
# ij_typescript_imports_wrap = split_into_lines
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_object_literal_braces = true

[*.{html,json,twig}]
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
